@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dashboard</h1>

<table id="myTable" class="table" cellspacing="0">
    <thead>
    <tr>
        @foreach (var property in Model.GetType().GetGenericArguments()[0].GetProperties())
        {
            <th>@property.Name</th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            @foreach (var property in item.GetType().GetProperties())
            {
                <td>@property.GetValue(item)</td>
            }
        </tr>
    }
    </tbody>
</table>